{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
    <section class="container">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
          <div class="columns">
            <div class="column left">
              <h1 class="title is-1">Photos.Life</h1>
              <h2 class="subtitle colored is-4">Your lifes photo album</h2>
              <p></p>
            </div>
            <div class="column right has-text-centered">
              <h1 class="title is-4">Sign up today</h1>
              <p class="description">it's FREE</p>
              <form>
                <div class="field">
                  <div class="control">
                    <input class="input is-medium" type="text" placeholder="Username">
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input class="input is-medium" type="email" placeholder="Email">
                  </div>
                </div>
                <button class="button is-block is-primary is-fullwidth is-medium">Submit</button>
                <br />
                <small><em>"The Enrichment Center is committed to the well being of all participants."</em></small>
              </form>
            </div>
          </div>
        </div>
        <div class="column is-8 is-offset-2">
          <br>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fab fa-facebook"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fab fa-instagram"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="level-right">
              <small class="level-item" style="color: var(--textLight)">
                &copy; Photos.Life All Rights Reserved.
              </small>
            </div>
          </nav>
        </div>
      </div>
    </section>
{% endblock %}
            
 
